/* header navigation */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: var(--light-navy);
  /* backdrop-filter: blur(100px); */

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: calc(var(--gap)*2);

    & > div {
      flex-basis: 33%;
    }
    .logo {
      position: relative;
      z-index: 10;

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: -1;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--aqua);
        box-shadow: var(--bs-lightBlue);
      }
      .spin-overlay {
        position: relative;

        .spinner {
          position: absolute;
          width: 120px;
          height: 50px;
          top: 10px;
          left: -20px;
          border-radius: 50%;
          animation: 1.2s spin infinite linear;
        }
      }
      a {
        &:hover {
          text-decoration: none;
        }
        img {
          height: 70px;
          vertical-align: middle;
        }
      }
      &:hover .spinner {
        z-index: -1;
      }
    }
    /* mobile button is active */
    .main-navigation {

      &.mobile-active {
        display: flex;
        position: fixed;
        inset: 0 0 70% 0;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        gap: calc(var(--gap)* 4);
        padding: 5em 2em min(20vh, 5em) 2em;
        transition: var(--transition);
        background-color: rgba(var(--navy-rgb), .95);
        backdrop-filter: calc(var(--filter)*10);

        @media only screen and (max-width: 768px) {
          inset: 0 0 0 50%;
          padding: 5em 2em min(20vh, 5em) 2em;
          text-align: center;
        }
        @media only screen and (max-width: 520px) {
          inset: 0 0 30% 0;
        }
      }
      ul {
        display: flex;
        gap: calc(var(--gap)*4);

        a {
          padding: 10px 0;

          &:hover {
            text-decoration: none;
          }
          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            background-color: var(--red);
            transition: var(--transition);
          }
          &::before {
            left: 50%;
            transform: translateX(-50%);
          }
          &::after {
            right: 50%;
            transform: translateX(50%);
          }
          &:hover::before,
          &:hover::after {
            width: 100%;
            /* box-shadow: var(--bs-lightBlue); */
          }
        }
      }
    }
    .user-search {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: var(--gap);

      /* search form */
      .search {
        width: 100%;

        form {
          .form-group {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            justify-content: end;
            align-items: center;

            input {
              width: 38px;
              height: 38px;
              padding: var(--padding);
              padding-left: 15px;
              outline: none;
              border: none;
              border-radius: calc(var(--bradius)*4);
              color: var(--text-white);
              transition: var(--transition);
							background-color: var(--light-navy);
              box-shadow: var(--bs-lightBlue);

              &:focus,
              &:hover {
                width: 100%;
                transition: var(--transition);

                @media only screen and (max-width: 768px) {
                  width: 200px;
                }
              }
              &::placeholder {
                color: var(--text-white);
              }
            }
            label {
              position: absolute;
              right: 1px;

              i {
                width: 36px;
                height: 36px;
                padding: var(--padding);
                color: var(--text-white);
                font-size: var(--fs);
                border-radius: 50%;
                cursor: pointer;
                background-color: var(--light-navy);
              }
            }
          }
        }
      }
      /* user */
      .user {
        i {
          width: 38px;
          height: 38px;
          padding: var(--padding);
          padding-left: 12px;
          border-radius: 50%;
          color: var(--aqua);
          cursor: pointer;
          background-color: var(--red);
          box-shadow: var(--bs-lightBlue);
        }
      }
      /* mobile menu button */
      .mobile-menu {
        display: none;

        .nav-toggle {
          position: relative;
          padding: var(--padding);
          width: 100%;
          height: 100%;
          border: none;
          cursor: pointer;
          background: none;
          z-index: 10;

          .mobile-btn {
            display: block;
            width: 30px;
            height: 4px;
            margin: 5px 0;
            transition: var(--transition);
            background-color: var(--red);
            box-shadow: var(--bs-lightBlue);

            &.close-btn:nth-of-type(2) {
              opacity: 0;
              transform: translateX(20px);
              transition: var(--transition);
            }
            &.close-btn:first-of-type {
              transform: rotate(225deg) translate(-6px, -6px);
              transition: var(--transition);
            }
            &.close-btn:last-of-type {
              transform: rotate(-225deg) translate(-6px, 7px);
              transition: var(--transition);
            }
          }
        }
      }
    }
  }
}

/* world news */
.salutation-date {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .salutation h1 {
    font-size: 1.6rem;
    font-weight: var(--fw-600);
    color: var(--red);
  }
  .date-time {
    color: var(--gray-70);
    font-weight: var(--fw-300);
    font-size: 1.2rem;
    margin-left: auto;
  }
  .date-today {
    margin-right: 10px;
  }
  @media only screen and (max-width: 900px) {
    .date-time {
      font-size: 1rem;
    }
    .salutation {
      display: none;
    }
  }
}

/* headline news */
#head-news {
  margin-bottom: 10px;
  & > .grid-container {
    grid-template-areas:
			'A A A A A A B B B B B B'
			'A A A A A A B B B B B B'
			'A A A A A A B B B B B B'
			'A A A A A A B B B B B B';

    .grid-item {
      &#carousel-news {
        grid-area: A;
      }
      &#box-news {
        grid-area: B; 
        & > .grid-container {
          grid-template-areas: 
          'A A A A A A B B B B B B'
				  'A A A A A A B B B B B B'
				  'C C C C C C D D D D D D'
				  'C C C C C C D D D D D D';  

          .grid-item {
            &:nth-child(1) { grid-area: A }
            &:nth-child(2) { grid-area: B }
            &:nth-child(3) { grid-area: C }
            &:nth-child(4) { grid-area: D }
          }
        }
      }
      .card {
        /* height: 100%; */
        /* width: 100%; */

        .card-image {
          width: 100%;
          height: 100%;
        }
        
        .card-content {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          /* background-color: rgba(var(--black-rgb), .5); */
        }            
      }
    }
  }
}
/* trending news */
#trend-news {
  .trend-news {
    display: flex;
    gap: var(--gap);

    .grid-container {
      width: calc(100% - 385px);
      grid-template-areas: 
      'A A A A B B B B C C C C'
      'A A A A B B B B C C C C'
      'A A A A B B B B C C C C'
      'A A A A B B B B C C C C';
      .grid-item {
        &:nth-child(1) { grid-area: A }
        &:nth-child(2) { grid-area: B }
        &:nth-child(3) { grid-area: C }

        .card {
          .card-content {
            background-color: var(--gray-10);
            justify-content: start;
            a {
              color: var(--text-black);
            }
            .news-description p {
              color: rgba(var(--text-black-rgb), .7);
            }
          }
          .news-source a {
            color: var(--text-white);
          }
        }
      }
    }
    aside {
      width: 375px;

      .aside-content {
        height: 340px;
      }
    }
  }
}

/* local news */
#local-news {
  .container {
    & > .grid-container {
    grid-template-areas: 
    'A A A B B B C C C D D D'
    'A A A B B B C C C D D D'
    'A A A B B B C C C D D D'
    'E E E F F F G G G H H H'
    'E E E F F F G G G H H H'
    'E E E F F F G G G H H H';

    .grid-item {
      &:nth-child(1) { grid-area: A }
      &:nth-child(2) { grid-area: B }
      &:nth-child(3) { grid-area: C }
      &:nth-child(4) { grid-area: D }
      &:nth-child(5) { grid-area: E }
      &:nth-child(6) { grid-area: F }
      &:nth-child(7) { grid-area: G }
      &:nth-child(8) { grid-area: H }

      .card {
        /* background-color: var(--white-20); */

        .card-content {
          background-color: var(--gray-10);
          justify-content: start;
          .news-title a {
            color: var(--text-black);
          }
        }
      }
    }
  }
  } 
}

/* finance/business news */
#finance-news {
  .container {
    & > .grid-container {
    margin-bottom: 10px;
    grid-template-areas: 
    'A A A A A A B B B C C C'
    'A A A A A A B B B C C C'
    'A A A A A A D D D D D D'
    'E E E E E E D D D D D D'
    'E E E E E E D D D D D D';

    .grid-item {
        &:nth-child(1) { grid-area: A }
        &:nth-child(2) { grid-area: B }
        &:nth-child(3) { grid-area: C }
        &:nth-child(4) { grid-area: D }
        &:nth-child(5) { grid-area: E }

        .card {
          .card-content {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            /* background-color: rgba(var(--black-rgb), .5); */
          }
          .card-image {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    #more-finance-news {
      & > .grid-container {
        grid-template-areas: 
        'B B B A A A A A A C C C'
        'B B B A A A A A A C C C'
        'D D D A A A A A A E E E'
        'D D D A A A A A A E E E'
        'F F F F F F G G G G G G'
        'F F F F F F G G G G G G'
        'H H H H I I I I J J J J'
        'H H H H I I I I J J J J';

        .grid-item {
          &:nth-child(1) { grid-area: A }
          &:nth-child(2) { grid-area: B }
          &:nth-child(3) { grid-area: C }
          &:nth-child(4) { grid-area: D }
          &:nth-child(5) { grid-area: E }
          &:nth-child(6) { grid-area: F }
          &:nth-child(7) { grid-area: G }
          &:nth-child(8) { grid-area: H }
          &:nth-child(9) { grid-area: I }
          &:nth-child(10) { grid-area: J }

          .card {
            .card-content {
              width: 100%;
              height: 100%;
              top: 0;
              position: absolute;
              /* background-color: rgba(var(--black-rgb), .5); */
            }
            .card-image {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/* entertainment and scitech news */
#entertainment-news,
#scitech-news {
  .container {
    .flex-container {
      .flex-item {
        flex: 1 1 calc(100% - 375px);
        &.grid-container {
          grid-template-areas:
          'A A A A A A A A A A A A'
          'A A A A A A A A A A A A'
          'A A A A A A A A A A A A'
          'A A A A A A A A A A A A'
          'B B B B C C C C D D D D'
          'B B B B C C C C D D D D'
          'E E E E F F F F G G G G'
          'E E E E F F F F G G G G';

          .grid-item {
            &:nth-child(1) {grid-area: A }
            &:nth-child(2) {grid-area: B }
            &:nth-child(3) {grid-area: C }
            &:nth-child(4) {grid-area: D }
            &:nth-child(5) {grid-area: E }
            &:nth-child(6) {grid-area: F }
            &:nth-child(7) {grid-area: G }

            .card {
              .card-content {
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                /* background-color: rgba(var(--black-rgb), .5); */
              }
              .card-image {
                width: 100%;
                height: 100%
              }
            }
          }
        }
        &#more-entertainment-news,
        &#more-scitech-news {
          flex: 1 1 375px;
        }
      }
    }
  }
}

/* sports news */
#sports-news {
  .container {
    .flex-container {
      .flex-item {
        flex: 1 1 calc(100% - 375px);
        &.grid-container {
          grid-template-areas:  
          'A A A A A A A A A A A A'
          'A A A A A A A A A A A A'
          'A A A A A A A A A A A A'
          'A A A A A A A A A A A A'
          'B B B B B B B C C C C C'
          'B B B B B B B C C C C C'
          'D D D D D E E E E E E E'
          'D D D D D E E E E E E E'
          'F F F F F F F G G G G G'
          'F F F F F F F G G G G G'
          'H H H H H I I I I I I I'
          'H H H H H I I I I I I I';

          .grid-item {
            &:nth-child(1) { grid-area: A }
            &:nth-child(2) { grid-area: B }
            &:nth-child(3) { grid-area: C }
            &:nth-child(4) { grid-area: D }
            &:nth-child(5) { grid-area: E }
            &:nth-child(6) { grid-area: F }
            &:nth-child(7) { grid-area: G }
            &:nth-child(8) { grid-area: H }
            &:nth-child(9) { grid-area: I }

            .card {
              .card-content {
                width: 100%;
                height: 100%;
                position: absolute;              
                top: 0;
              }
              .card-image {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        &#more-sports-news {
          flex: 1 1 375px;
          .aside-content {
            height: 540px;
            margin-bottom: 10px;

            ul li span {
              flex-basis: auto;
              height: 100px;
              width: 100px;
              font-size: 1.5rem;
              background-color: var(--gray-100);

              img {
                border-radius: 50%;
                margin: 5px;
                width: 100px;
                height: 100px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

/* footer */
footer {
  padding: 30px 0 0;

  .container {
    padding: 0;

    .flex-container {
      gap: var(--gap);

      .flex-item {
        &:first-child {
          flex: 1 1 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: calc(var(--gap)*2);

          .site-logo {
            width: 250px;

            img {
              width: 100%;
            }
          }
          .site-description {
            font-size: var(--fs-9);
            font-weight: var(--fw-300);
            color: var(--text-lightDark);
            padding: 0 40px 0 0;
          }

          }
          .site-links {
            ul {
              display: flex;
              gap: calc(var(--gap)*2);
              a {
                padding: 10px 0;

                &::before,
                &::after {
                  content: '';
                  position: absolute;
                  width: 0;
                  height: 3px;
                  bottom: 0;
                  background-color: var(--red);
                  transition: var(--transition);
                }
                &::before {
                  left: 50%;
                  transform: translateX(-50%);
                }
                &::after {
                  right: 50%;
                  transform: translateX(50%);
                }
                &:hover::before,
                &:hover::after {
                  width: 100%;
                }
              }
            }
          }
          .copyrights {
            h3 {
              font-size: var(--fs);
              font-weight: var(--fw-300);
              color: var(--text-white) ;
            }
          }
          
        &:last-child {
          flex: 1 1 60%;

          .grid-container {
            gap: 0;
            grid-auto-rows: 60px;
            grid-template-areas: 
            'A A A B B B C C C D D D'
            'A A A B B B C C C D D D'
            'A A A B B B C C C D D D'
            'A A A B B B C C C D D D'
            'A A A B B B C C C D D D'
            'E E E E E E E E E E E E'
            'E E E E E E E E E E E E'
            'E E E E E E E E E E E E';

            .grid-item {
              &:nth-child(1) { grid-area: A }
              &:nth-child(2) { grid-area: B }
              &:nth-child(3) { grid-area: C }
              &:nth-child(4) { grid-area: D }
              &:nth-child(5) { grid-area: E }

              .foot-content {
                ul {
                  line-height: 2;
                  a {
                    color: var(--text-lightDark);
                    font-size: var(--fs-foot-content);
                    font-weight: var(--fw-300);
                    padding-left: var(--padding);

                    &:hover {
                      color: var(--text-white);
                    }
                  }
                }
                form {
                  input {
                    width: 50%;
                    display: block;
                    padding: 10px 15px;
                    border-radius: calc(var(--bradius)*10);
                    border: none;
                    outline: none;
                    text-align: start;
                    margin: 10px auto;
                  }
                  input[type=submit] {
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                  }
                }
              }
              &:last-child {
                .foot-title h4 {
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .foot-title {
        h4 {
          color: var(--text-white);
          font-weight: var(--fw-400);
          font-size: var(--fs);
          padding: var(--padding) 0;
        }
      }
    }
    .footer-navigation {
      ul {
        display: flex;
        gap: calc(var(--gap)*2);
        justify-content: center;
        padding: 30px 0;
        margin-top: 30px;
        border-top: 1px solid var(--gray-45);
        li {
          a {
            font-size: var(--fs-9);
            font-weight: var(--fw-300);
            padding: 10px 0;

            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 0;
              height: 3px;
              bottom: 0;
              background-color: var(--red);
              transition: var(--transition);
            }
            &::before {
              left: 50%;
              transform: translateX(-50%);
            }
            &::after {
              right: 50%;
              transform: translateX(50%);
            }
            &:hover::before,
            &:hover::after {
              width: 100%;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}