@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .main-navigation ul li:nth-child(4){
        display: none;
    }

    .user {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    #footer .flex-container {
        gap: 0;
        flex-direction: column;
    }

    #footer .flex-container .flex-item:first-child {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
    }

    .site-description {
        padding: 0;
    }
    
    .site-about  {
        width: 400px;
        /* text-align: center; */
    }
}

@media screen and (max-width: 1000px) {
    .trend-news > .grid-container {
        width: calc(100% - 385px);
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: 90px;
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'B B B B B B'
        'B B B B B B'
        'C C C C C C'
        'C C C C C C';
    }

    #trend-news span.news-source a {
        color: var(--text-dark-clr);
    }

    .trend-news .card {
        flex-direction: row;
    }

    .trend-news .card > div {
        width: 50%;
        height: 100%;
    }

    #more-trend-news .aside-content {
        max-height: 100%;
    }

    #trend-news .card .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #trend-news span.news-source {
        position: relative;
    }
}

@media screen and (max-width: 900px) {
    .main-navigation ul li:nth-child(3){
        display: none;
    }

    #head-news > .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 90px);
        grid-template-areas: 
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B';
    }

    #box-news.grid-item .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 90px);
        grid-template-areas: 
        'A A A A B B B B'
        'A A A A B B B B'
        'C C C C D D D D'
        'C C C C D D D D';
    }

   
    .trend-news > .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 90px;
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'B B B B B B'
        'B B B B B B'
        'C C C C C C'
        'C C C C C C';
    }

    .trend-news aside {
        /* flex: 1 1 350px; */
        height: 100%;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
        border-radius: 5px;
        /* overflow: hidden; */
    }

    #trend-news .aside-content {
        overflow: auto;
        height: 100%;
        padding-bottom: 50px;
    }

    #trend-news .card .card-content {
        display: flex;

        flex-direction: column;
        justify-content: space-between;
    }

    #trend-news span.news-source {
        position: relative;
    }

    #local-news .card {
        flex-direction: row;
    }

    #local-news .card > div {
        flex-basis: 50%;
    }

    #local-news .card .card-image,
    #local-news .card .card-content {
        height: 100%;
    }

    #local-news .grid-container {
        grid-template-rows: repeat(8, 90px);
        grid-template-areas: 
        'A A A A B B B B'
        'A A A A B B B B'
        'C C C C D D D D'
        'C C C C D D D D'
        'E E E E F F F F'
        'E E E E F F F F'
        'G G G G H H H H'
        'G G G G H H H H';
    }

    #local-news span.news-source {
        position: relative;
    }

    #local-news .news-source a {
        color: var(--text-dark-clr);
    }

    #entertainment-news .grid-container,
    #scitech-news .grid-container {
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(10, 90px);
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'B B B C C C'
        'B B B C C C'
        'D D D E E E'
        'D D D E E E'
        'F F F G G G'
        'F F F G G G';
    }

    #entertainment-news .flex-container,
    #scitech-news .flex-container,
    #sports-news .flex-container {
        flex-direction: column;
    }

    #more-entertainment-news.flex-item {
        order: 2;
        flex-basis: 100%;
    }

    #more-scitech-news.flex-item {
        flex-basis: 100%;
    }

    #sports-news .grid-container {
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(12, 90px);
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'B B B C C C'
        'B B B C C C'
        'D D D E E E'
        'D D D E E E'
        'F F F G G G'
        'F F F G G G'
        'H H H I I I'
        'H H H I I I';
    }

}

@media screen and (max-width: 830px) {
    .trend-news aside#more-trend-news {
        /* flex: 1 1 350px; */
        width: 50%;
    }
    #trend-news .grid-container {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .main-navigation {
        display: none;
    }

    .main-navigation.mobile-active {
        inset: 0 0 0 50%;
        padding: 5em 2em min(20vh, 5em) 2em;
        backdrop-filter: blur(100px);
        transform: translateX(0);
        font-size: 1.1em;
        text-align: center;
    }

    .main-navigation ul {
        flex-direction: column;
    }

    .salutation-date .date-time,
    .salutation-date .salutation {
        font-size: 1em;
    }

    .time-now {
        width: 100px;
    }

    .salutation h1 {
        font-size: 1.1em;
    }

    #finance-news .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 90px);
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'B B B B C C'
        'B B B B C C'
        'D D E E E E'
        'D D E E E E';
    }

    #finance-news .card > div {
        height: 100%;
        max-height: 100% ;
    }

    #more-finance-news  .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(14, 90PX);
        grid-template-areas: 
        'A A A A'
        'A A A A'
        'A A A A'
        'A A A A'
        'B B C C'
        'B B C C'
        'D D E E'
        'D D E E'
        'F F G G'
        'F F G G'
        'H H I I'
        'H H I I'
        'J J J J'
        'J J J J';
    }

    #entertainment-news .grid-container,
    #scitech-news .grid-container {
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(10, 90px);
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'B B B C C C'
        'B B B C C C'
        'D D D E E E'
        'D D D E E E'
        'F F F G G G'
        'F F F G G G';
    }
    
}

@media screen and (max-width: 660px) {
    .trend-news .card .card-content {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    #trend-news .news-title a,
    #trend-news span.news-source a {
        color: var(--text-light-clr);
    }

    #trend-news .card .card-content {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
	    background-color:rgba(var(--dark-clr-rgb), .35);
    }

    #trend-news span.news-source {
        position: absolute;
    }
}

@media screen and (max-width: 600px) {
    .salutation-date {
        display: none;
    }

    #finance-news .grid-container {
        grid-template-rows: repeat(12, 90px);
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'B B B B B B'
        'B B B B B B'
        'C C C C C C'
        'C C C C C C'
        'D D D D D D'
        'D D D D D D'
        'E E E E E E'
        'E E E E E E';
    }

    #more-finance-news  .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(14, 90PX);
        grid-template-areas: 
        'A A A A'
        'A A A A'
        'A A A A'
        'A A A A'
        'B B C C'
        'B B C C'
        'D D E E'
        'D D E E'
        'F F G G'
        'F F G G'
        'H H I I'
        'H H I I'
        'J J J J'
        'J J J J';
    }

    #local-news .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(16, 90px);
        grid-template-areas: 
        'A A A A A A A A'
        'A A A A A A A A'
        'B B B B B B B B'
        'B B B B B B B B'
        'C C C C C C C C'
        'C C C C C C C C'
        'D D D D D D D D'
        'D D D D D D D D'
        'E E E E E E E E'
        'E E E E E E E E'
        'F F F F F F F F'
        'F F F F F F F F'
        'G G G G G G G G'
        'G G G G G G G G'
        'H H H H H H H H'
        'H H H H H H H H';
    }

    footer .flex-item .grid-container {
    grid-template-areas: 
    'A A A A B B B B'
    'A A A A B B B B'
    'A A A A B B B B'
    'A A A A B B B B'
    'A A A A B B B B'
    'C C C C D D D D'
    'C C C C D D D D'
    'C C C C D D D D'
    'E E E E E E E E'
    'E E E E E E E E'
    'E E E E E E E E';
}
}

@media screen and (max-width: 568px) {
    .main-navigation ul {
        gap: 20px;
    }

}

@media screen and (max-width: 490px) {
    section {
        padding-top: 70px;
    }

    header {
        height: 60px;
    }

    .logo img {
        height: 50px;
        
    }

    .logo::after {
        width: 40px;
        height: 40px;
        top: 10px;
        left: 8.3px;
        background-color: var(--aqua-clr);
        box-shadow: var(--box-shadow-blight);
    }

    .spinner {
        width: 80px;
        height: 40px;
        left: -10px;
        top: 8px;
    }

    .search {
        display: none;
    }

    .main-navigation ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .main-navigation ul a {
        display: block;
        width: max-content;
        margin: auto;
        padding: 10px;
    }

    .main-navigation.mobile-active {
        inset: 0 0 40% 0;
        padding: 5em 2em min(20vh, 5em) 2em;
        font-size: 1em;
    }

    .news-title h2 {
        font-weight: 500;
        font-size: .9rem;
    }
    
    #head-news > .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 75px);
        grid-template-areas: 
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B'
        'B B B B B B B B';
    }

    #box-news.grid-item .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 75px);
        grid-template-areas: 
        'A A A A A A A A'
        'A A A A A A A A'
        'B B B B B B B B'
        'B B B B B B B B'
        'C C C C C C C C'
        'C C C C C C C C'
        'D D D D D D D D'
        'D D D D D D D D';
    }

    .trend-news {
        flex-direction: column;
    }
    
    #trend-news .grid-container {
        grid-auto-rows: 75px;
        width: 100%;
    }

    .trend-news aside#more-trend-news {
        width: 100%;
    }

    #local-news .grid-container {
        grid-template-rows: repeat(16, 75px);
    }
    
    #more-finance-news  .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(14, 75px);
        grid-template-areas: 
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'B B B B C C C C'
        'B B B B C C C C'
        'D D D D E E E E'
        'D D D D E E E E'
        'F F F F G G G G'
        'F F F F G G G G'
        'H H H H I I I I'
        'H H H H I I I I'
        'J J J J J J J J'
        'J J J J J J J J';
    }

    #entertainment-news .grid-container,
    #scitech-news .grid-container {
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(10, 75px);
    }

    #sports-news .grid-container {
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(12, 75px);
    }

    .footer-navigation a {
        font-size: .9rem;
    }

    .site-about {
        width: 100%;
    }

    .weather-loc-container .dropdown .weather-loc-box {
        width: 370px;
        height: 420px;
    }

}

@media screen and (max-width: 412px) {
    .container {
        min-width: 100%;
        padding: 10px;
    }

    .main-navigation,
    .search {
        display: none;
    }

    section#world-news {
        padding-bottom: 0;
    }

    /* #local-news .grid-container {
        grid-template-areas: 
        'A A A A'
        'B B B B'
        'C C C C'
        'D D D D'
        'E E E E'
        'F F F F'
        'G G G G'
        'H H H H';
    }

    #local-news .card {
        flex-direction: row;
        max-height: 180px;
    }

    #local-news .card > div {
        flex-basis: 50%;
        height: 100%;
    } */

    #finance-news .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 75px);
        grid-template-areas: 
        'A A A'
        'A A A'
        'A A A'
        'A A A'
        'B B B'
        'B B B'
        'C C C'
        'C C C'
        'D D D'
        'D D D'
        'E E E'
        'E E E';
    }

    #more-finance-news  .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(22, 75px);
        grid-template-areas: 
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'A A A A A A A A'
        'B B B B B B B B'
        'B B B B B B B B'
        'C C C C C C C C'
        'C C C C C C C C'
        'D D D D D D D D'
        'D D D D D D D D'
        'E E E E E E E E'
        'E E E E E E E E'
        'F F F F F F F F'
        'F F F F F F F F'
        'G G G G G G G G'
        'G G G G G G G G'
        'H H H H H H H H'
        'H H H H H H H H'
        'I I I I I I I I'
        'I I I I I I I I'
        'J J J J J J J J'
        'J J J J J J J J';
    }

    #entertainment-news .grid-container,
    #scitech-news .grid-container {
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(16, 75px);
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'B B B B B B'
        'B B B B B B'
        'C C C C C C'
        'C C C C C C'
        'D D D D D D'
        'D D D D D D'
        'E E E E E E'
        'E E E E E E'
        'F F F F F F'
        'F F F F F F'
        'G G G G G G'
        'G G G G G G';
    }

    #sports-news .grid-container {
        grid-template-rows: repeat(20, 75px);
        grid-template-areas: 
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'A A A A A A'
        'B B B B B B'
        'B B B B B B'
        'C C C C C C'
        'C C C C C C'
        'D D D D D D'
        'D D D D D D'
        'E E E E E E'
        'E E E E E E'
        'F F F F F F'
        'F F F F F F'
        'G G G G G G'
        'G G G G G G'
        'H H H H H H'
        'H H H H H H'
        'I I I I I I'
        'I I I I I I';
    }
    
    .foot-content ul,
    .foot-title  {
        padding: 0 10px;
    }

    .foot-content input {
        width: 60%;
    }

    .footer-navigation {
        display: none;
    }

    .site-description {
        padding: 0 10px;
    }

    #footer .copyrights {
        display: block;
        padding: 30px 0;
        border-top: 1px solid var(--tertiary-clr);
    }

    .copyrights h3 {
        font-size: .85rem;
    }

    .site-links {
        gap: 15px;
        font-size: .85rem;
    }

    .foot-title h4 {
        font-size: 1rem;
    }

    .foot-content a,
    .site-description p {
        font-size: .85rem;
    }

    .section-title {
        margin-top: 0;
    }

    footer .flex-item .grid-container {
        grid-template-areas: 
        'A A A A B B B B'
        'A A A A B B B B'
        'A A A A B B B B'
        'A A A A B B B B'
        'C C C C D D D D'
        'C C C C D D D D'
        'E E E E E E E E'
        'E E E E E E E E'
        'E E E E E E E E';
    }
    .weather-loc-container {
        display: none;
        justify-content: space-between;
        width: 100%;
    }

    .weather-loc-container .dropdown .weather-loc-box {
        display: none;
        width: 350px;
        padding: 5px;
        height: content;
        justify-content: start;
    }
    /* .hourly-forecast {
        flex-wrap: wrap;
    }
    .hourly-forecast > div {
        flex-basis: 30%;
    } */
}