@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .main-navigation ul li:nth-child(4){
        display: none;
    }

    .user {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

}

@media screen and (max-width: 900px) {
    .main-navigation ul li:nth-child(3){
        display: none;
    }
    
    .grid-container {
        gap: 10px;
    }

    .grid-container .item:first-child {
        grid-column: span 4 / span 3;
        height: 450px;
    }

    .grid-container .item:nth-child(2) {
        grid-column: span 2;
        height: 200px;
    }
    
    .grid-container .item:nth-child(3) {
        grid-column: span 2;
        height: 200px;
    }

    .grid-container .item:nth-child(4) {
        grid-column: span 2;
        height: 200px;
    }
    
    .grid-container .item:nth-child(5) {
        grid-column: span 2;
        height: 200px;
    }

}

@media screen and (max-width: 768px) {
    .main-navigation {
        display: none;
    }

    .salutation-date .date-time,
    .salutation-date .salutation {
        font-size: 1em;
    }

    .grid-container .item:first-child {
        height: 400px;
    }

    .grid-container .item:nth-child(2) {
        height: 150px;
    }
    
    .grid-container .item:nth-child(3) {
        height: 150px;
    }

    .grid-container .item:nth-child(4) {
        height: 150px;
    }
    
    .grid-container .item:nth-child(5) {
        height: 150px;
    }

}

@media screen and (max-width: 600px) {
    .salutation-date {
        display: none;
    }
}

@media screen and (max-width: 568px) {
    .main-navigation ul {
        gap: 20px;
    }
}

@media screen and (max-width: 490px) {
    .search {
        display: none;
    }

    .main-navigation ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .main-navigation ul a {
        display: block;
        width: max-content;
        margin: auto;
        padding: 5px 50px;
    }

    .main-navigation.mobile-active {
        inset: 0 0 40% 0;
        padding: min(20vh, 5em) 2em;
        font-size: 1em;
    }

    .grid-container > div:not(.item:first-child) {
        grid-column: span 4
    }
}

@media screen and (max-width: 412px) {
    .container {
        min-width: 100%;
        padding: 5px;
    }

    header {
        height: 60px;
    }

    .logo img {
        height: 50px;
        
    }

    .logo::after {
        width: 40px;
        height: 40px;
        top: 10px;
        left: 8.3px;
        background-color: var(--aqua-clr);
        box-shadow: var(--box-shadow-blight);
    }

    .spinner {
        width: 80px;
        height: 40px;
        left: -10px;
        top: 8px;
    }

    .main-navigation,
    .search {
        display: none;
    }

}