@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .main-navigation ul li:nth-child(4){
        display: none;
    }

    .user {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

}

@media screen and (max-width: 950px) {

}

@media screen and (max-width: 900px) {
    .main-navigation ul li:nth-child(3){
        display: none;
    }

    #head-news > .grid-container {
        grid-template-areas: 
        'A A A A'
        'A A A A'
        'B B B B'
        'B B B B';
    }

    #box-news.grid-item .grid-container {
        grid-template-areas: 
        'A A B B'
        'C C D D';
    }

    .trend-news > .grid-container {
        flex: 1 1 calc(100% - 350px);
        grid-template-areas: 
        'A A'
        'B B'
        'C C';
    }

    .trend-news aside {
        flex: 1 1 350px;
        max-height: 100%;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
        border-radius: 5px;
        overflow: hidden;
    }

    .trend-news .card {
        flex-direction: row;
        max-height: 180px;
    }

    #trend-news .aside-content {
        overflow: auto;
        height: 100%;
        padding-bottom: 50px;
    }

    #local-news .grid-container {
        grid-template-areas: 
        'A A A A B B B B'
        'C C C C D D D D'
        'E E E E F F F F'
        'G G G G H H H H';
    }
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 768px) {
    .main-navigation {
        display: none;
    }

    .main-navigation.mobile-active {
        inset: 0 0 0 50%;
        padding: 5em 2em min(20vh, 5em) 2em;
        backdrop-filter: blur(100px);
        transform: translateX(0);
        font-size: 1.1em;
        text-align: center;
    }

    .main-navigation ul {
        flex-direction: column;
    }

    .salutation-date .date-time,
    .salutation-date .salutation {
        font-size: 1em;
    }

    .time-now {
        width: 95px;
    }

    #finance-news .grid-container {
        grid-template-rows: repeat(4, 180px);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        'A A A'
        'A A A'
        'B B C'
        'E D D';
    }
    #finance-news .card > div {
        height: 100%;
        max-height: 100% ;
    }
}

@media screen and (max-width: 660px) {
    .trend-news .card .card-content {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        max-height: 180px;
    }
}

@media screen and (max-width: 600px) {
    .salutation-date {
        display: none;
    }

    .trend-news aside {
       display: none;
    }
}

@media screen and (max-width: 568px) {
    .main-navigation ul {
        gap: 20px;
    }

}

@media screen and (max-width: 490px) {
    header {
        height: 60px;
    }

    .logo img {
        height: 50px;
        
    }

    .logo::after {
        width: 40px;
        height: 40px;
        top: 10px;
        left: 8.3px;
        background-color: var(--aqua-clr);
        box-shadow: var(--box-shadow-blight);
    }

    .spinner {
        width: 80px;
        height: 40px;
        left: -10px;
        top: 8px;
    }

    .search {
        display: none;
    }

    .main-navigation ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .main-navigation ul a {
        display: block;
        width: max-content;
        margin: auto;
        padding: 10px;
    }

    .main-navigation.mobile-active {
        inset: 0 0 40% 0;
        padding: 5em 2em min(20vh, 5em) 2em;
        font-size: 1em;
    }

    #head-news > .grid-container {
        grid-template-areas: 
        'A A A A'
        'A A A A'
        'B B B B'
        'B B B B';
    }

    #box-news.grid-item .grid-container {
        grid-template-areas: 
        'A A A A'
        'B B B B'
        'C C C C'
        'D D D D';
    }

    #carousel-news.grid-item .card .card-image {
        height: 300px;
    }

    #box-news.grid-item .card .card-image {
        height: 150px;
    }

    .trend-news .card {
        max-height: 150px;
    }

}

@media screen and (max-width: 412px) {
    .container {
        min-width: 100%;
        padding: 10px;
    }

    .main-navigation,
    .search {
        display: none;
    }

    section#world-news {
        padding-bottom: 0;
    }

    #local-news .grid-container {
        grid-template-areas: 
        'A A A A'
        'B B B B'
        'C C C C'
        'D D D D'
        'E E E E'
        'F F F F'
        'G G G G'
        'H H H H';
    }

    #local-news .card {
        flex-direction: row;
        max-height: 180px;
    }

    #local-news .card > div {
        flex-basis: 50%;
        height: 100%;
    }
}