body {
    position: relative;
    /* background-color: #bcbcbefe; */
}

/* body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bcbcbefe;
    backdrop-filter: blur(100px);
    z-index: -1;
} */

/* navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #000000fe;
    /* background: #232526; 
    background: -webkit-linear-gradient(to top, #414345, #232526);
    background: linear-gradient(to top, #414345, #232526); */

    /* backdrop-filter: blur(100px ); */
    overflow: hidden;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}

nav > div {
    flex: 1 1;
}

.logo {
    position: relative;
    z-index: 10;
}

/* .logo::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 50px;
    top: 8px;
    left: -10px;
    border-top: solid rgba(var(--aqua-clr), .5) 1px;
    border-right: solid rgba(var(--aqua-clr), .35) 2px;
    border-bottom: solid rgba(var(--aqua-clr), .2) 4px;
    border-left: solid rgba(var(--aqua-clr), 0) 2px;
    border-radius: 100%;
    box-shadow: 0 0 5px 2px var(--aqua-clr);
    animation: spin 1s linear infinite;
    z-index: 1;
} */
    /* background-color: rgb(1, 253, 1); */
    /* background-color: var(--aqua-clr); */
    /* box-shadow: var(--box-shadow-blight); */
    /* box-shadow: 0 0 5px 2px rgb(1, 253, 1); */
    /* margin-top: calc(76px / -2); */

/* margin: auto; */
/* padding: 10px;  */
.logo::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    bottom: 0;
    right: 0;
    background-color: var(--aqua-clr);
    /* border-top: 5px solid var(--aqua-clr); */
    /* border-bottom: 5px solid var(--aqua-clr); */
    box-shadow: var(--box-shadow-blight);
    z-index: -1;
    /* animation: spin 2s linear infinite; */
}
    /* border: 5px solid transparent; */
    /* transform: rotateX(60deg); */
    /* box-shadow: 0 0 5px 2px rgb(1, 253, 1); */
    /* box-shadow: 0 0 5px 2px var(--aqua-clr); */

.logo img {
    height: 70px;
    vertical-align: middle;
    z-index: -1;
}

/* @keyframes spin {
    0% {
      transform: rotate(0deg, 45deg);
    }
    100% {
      transform: rotate(360deg);
    }
} */

.spinner {
    border-radius: 100%;
    width: 120px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: -20px;
    animation: 1.2s spin infinite linear;
    z-index: 10;
}

@keyframes spin {
    0% {
        border-top: solid rgba(var(--aqua-clr-rgb), .5) 1px;
        border-right: solid rgba(var(--aqua-clr-rgb), .35) 2px;
        border-bottom: solid rgba(var(--aqua-clr-rgb), .2) 4px;
        border-left: solid rgba(var(--aqua-clr-rgb), 0) 2px;
    }
    25% {
        border-top: solid rgba(var(--aqua-clr-rgb), .35) 1px;
        border-right: solid rgba(var(--aqua-clr-rgb), .2) 2px;
        border-bottom: solid rgba(var(--aqua-clr-rgb), 0) 4px;
        border-left: solid rgba(var(--aqua-clr-rgb), .5) 2px;
    }
    50% {
        border-top: solid rgba(var(--aqua-clr-rgb), .2) 1px;
        border-right: solid rgba(var(--aqua-clr-rgb), 0) 2px;
        border-bottom: solid rgba(var(--aqua-clr-rgb), .5) 4px;
        border-left: solid rgba(var(--aqua-clr-rgb), .35) 2px;
    }
    75% {
        border-top: solid rgba(var(--aqua-clr-rgb), 0) 1px;
        border-right: solid rgba(var(--aqua-clr-rgb), .5) 2px;
        border-bottom: solid rgba(var(--aqua-clr-rgb), .35) 4px;
        border-left: solid rgba(var(--aqua-clr-rgb), .2) 2px;
    }
    100% {
        border-top: solid rgba(var(--aqua-clr-rgb), .5) 1px;
        border-right: solid rgba(var(--aqua-clr-rgb), .35) 2px;
        border-bottom: solid rgba(var(--aqua-clr-rgb), .2) 4px;
        border-left: solid rgba(var(--aqua-clr-rgb), 0) 2px;
    }
}

.main-navigation ul {
    display: flex;
    gap: 40px;
    /* transition: all 1s ease-in-out;  */
}

.user-search {
    /* width: 100%; */
    display: flex; 
    justify-content: end;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
}

.search {
    width: 100%;
}

.search form {
    vertical-align: middle;
}

.search input {
    /* position: absolute; */
    /* right: 5px; */
    /* font-size: 1rem; */
    width: 38px;
    height: 38px;
    background-color: var(--tertiary-clr);
    /* padding: 10px 10px 10px 40px; */
    padding: 10px;
    padding-left: 15px;
    outline: none;
    border: none;
    color: var(--text-light-clr);
    border-radius: 20px;
    transition: all 350ms ease-in-out;
    box-shadow: var(--box-shadow-blight);
    /* box-shadow: 2px 2px 5px 0 rgb(0, 250, 250); */
}

.search input:hover, .search input:focus {
    width: 80%;
    transition: all 350ms ease-in-out
}

::placeholder {
    color: var(--text-light-clr);
}

.form-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
}

.search label {
    position: absolute;
    /* padding-right: 10px; */
    /* border-radius: 20px; */
    /* vertical-align: middle; */
    background-color: var(--tertiary-clr);
    /* left: 0; */
    right: 1px;
    /* backdrop-filter: blur(100px); */
    /* overflow: hidden; */
    border-radius: 50%;
    z-index: 10;
}

.search label i {
    font-size: 1rem;
    width: 36px;
    aspect-ratio: 1;
    padding: 10px;
    /* width: 2.43rem; */
    /* border-radius: 20px; */
    color: var(--text-light-clr);
    cursor: pointer;
}

.user i {
    /* background-color:var(--text-light-clr); */
    /* background: #232526;
    background: -webkit-linear-gradient(to top, #414345, #232526);
    background: linear-gradient(to top, #414345, #232526); */
    background-color: var(--primary-clr);
    color: var(--aqua-clr);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    /* aspect-ratio: 1; */
    padding: 10px;
    /* font-size: 1.5rem; */
    cursor: pointer;
    box-shadow:var(--box-shadow-blight);
}

/* mobile navigation menu */
.main-navigation.mobile-active {
    display: flex;
    gap: 40px;
    position: fixed;
    inset: 0 0 70% 0;
    padding: 5em 2em min(20vh, 5em) 2em;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(100px);
    transform: translateX(0);
    transition: all 350ms ease-in-out; 
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.mobile-menu {
    display: none;
    /* width: auto; */
    /* aspect-ratio: 1; */
    border-radius: 5px;
}

.nav-toggle {
    position: relative;
    vertical-align: middle;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.mobile-btn {
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--primary-clr);
    transition: all 350ms ease-in-out;
    margin: 5px 0;
    z-index: 10;
    box-shadow: var(--box-shadow-blight);
}

.close-btn.mobile-btn:nth-of-type(2) {
    opacity: 0;
    transform: translateX(20px);
    transition: all 350ms ease-in-out;
}

.close-btn.mobile-btn:first-of-type {
    transform: rotate(225deg) translate(-6px, -6px);
    transition: all 350ms ease-in-out;
    box-shadow: var(--box-shadow-blight);
}

.close-btn.mobile-btn:last-of-type {
    transform: rotate(-225deg) translate(-6px, 7px);
    transition: all 350ms ease-in-out;
    box-shadow: var(--box-shadow-blight);
}

/* world news section */
section#world-news {
    height: 100%;
    padding-bottom: 20px;
}

.salutation-date {
    display: flex;
}

.salutation-date .date-time {
    align-self: flex-end;
    margin-left: auto;
    font-size: 1.2em;
}

.salutation-date .salutation {
    margin-right: auto;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--text-dark-clr);
}

.date-time {
    display: flex;
}

.time-now {
    width: 115px;
    text-align: right;
}

span.date-today {
    margin-right: 10px;
}

#world-news .container > div:last-child{
    padding-top: 30px;
}

/* #world-news .grid-item.card {
    background-color: var(--tertiary-clr);
} */

#trending-world-local-news article .grid-container {
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#trending-world-local-news .grid-item.card,
#local-news .grid-item.card {
	height: 360px;
    padding: 0;
}

#trending-world-local-news .card .card-image,
#local-news .card .card-image {
    height: 180px;
    border: 1px solid green;
}

.card-content {
    padding: 5px;
}

#trending-world-local-news article {
    display: flex;
    gap: 15px;
}

aside {
    width: 30%;
    border: 1px solid green;
}

.aside-title {
    font-weight: 500;
    padding: 10px;
    background-color: var(--tertiary-clr);
}

.more-trend-news { 
    height: 300px; /* check later if needed*/
    overflow: auto;
}

.more-trend-news li {
    margin: 1px 0;
    display: flex;
    align-items: center;
}

.more-trend-news li a {
    color: var(--text-dark-clr);
}

.item-number {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    font-size: 2rem;
    margin: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: var(--text-lida-clr);
}

::-webkit-scrollbar {
    display: none;
}

/* local news */
#local-news {
    height: 100%;
    padding-bottom: 20px;
}
#local-news .grid-container {
    gap: 15px;
}

#local-news .grid-item.card {
	height: 360px;
    padding: 0;
    /* background-color: #ffffff; */
}

/* finance news */
#finance-news {
    height: 100%;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    padding-bottom: 20px;
}

#finance-news .grid-container {
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    height: 500px; /* check again for change */
}

#finance-news .grid-item.card {
    height: 120px;
}

#finance-news article .grid-container .grid-item:first-child,
#finance-news article .grid-container .grid-item:nth-child(4) {
	grid-column: span 2;
	grid-row: span 3;
    height: 100%;
}

#finance-news article .grid-container .grid-item:nth-child(2),
#finance-news article .grid-container .grid-item:nth-child(3) {
    grid-row: span 2;
    height: 100%;
}

#finance-news article .grid-container .grid-item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
}

.more-finance-news {
    margin-top: 40px;
}

.more-finance-news .section-title {
    text-align: center;
}

.more-finance-news .sub-grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.more-finance-news .sub-grid-container .sub-grid-item.card {
    border: 1px solid green;
    /* height: 180px; */
}

.more-finance-news .sub-grid-container .sub-grid-item.card:first-child,
.more-finance-news .sub-grid-container .sub-grid-item.card:nth-child(3) {
    grid-column: 1fr;
}

.more-finance-news .sub-grid-container .sub-grid-item.card:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.more-finance-news .sub-grid-container .sub-grid-item.card:nth-child(6),
.more-finance-news .sub-grid-container .sub-grid-item.card:nth-child(7),
.more-finance-news .sub-grid-container .sub-grid-item.card:nth-child(8),
.more-finance-news .sub-grid-container .sub-grid-item.card:nth-child(9) {
    grid-column: span 2;
}