@import url('uti.css');
/* @import url('mediaquerries.css'); */

/* header navigation */
header {
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	/* background-image: var(--bgImage-carbon-clr); */
	/* background-blend-mode: var(--bgImage-blend-mode); */
	/* background-color: rgba(var(--black-rgb, .996)); */
	background-color: var(--light-navy);
	z-index: 100;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: calc(var(--gap) * 2);
		height: 100%;
		background-image: none;

		&>div {
			flex-basis: 33%;
		}

		.logo {
			position: relative;
			z-index: 10;

			&::after {
				content: '';
				position: absolute;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				top: 5px;
				left: 10px;
				bottom: 0;
				right: 0;
				background-color: var(--aqua);
				box-shadow: var(--bs-lightBlue);
				z-index: -1;
			}

			.spin-overlay {
				position: relative;

				.spinner {
					border-radius: 100%;
					width: 120px;
					height: 50px;
					position: absolute;
					top: 10px;
					left: -20px;
					animation: 1.2s spin infinite linear;
					z-index: 10;
				}

				a {

					&:hover::before,
					&:hover::after {
						width: 0;
						box-shadow: none;
					}

					img {
						height: 70px;
						vertical-align: middle;
						z-index: -1;
					}
				}

				&:hover .spinner {
					z-index: -1;
				}
			}
		}

		.main-navigation {

			/* check proper nesting with element with multiple class */
			&.mobile-active {
				display: flex;
				gap: calc(var(--gap)*4);
				position: fixed;
				inset: 0 0 70% 0;
				padding: 5em 2em min(20vh, 5em) 2em;
				/* background-color: rgba(var(--black-rgb), 0.7); */
				background-color: var(--light-navy);
				backdrop-filter: calc(var(--filter)*10);
				transform: translateX(0);
				transition: all 350ms ease-in-out;
				justify-content: center;
				font-size: 1.1em;
			}

			ul {
				display: flex;
				gap: calc(var(--gap)*4);

				a {
					color: var(--text-white);
					padding: 10px 0;

					&:hover {
						color: var(--text-lightDark);
						text-decoration: none;
					}
				}
			}
		}

		.user-search {
			display: flex;
			justify-content: end;
			align-items: center;
			gap: var(--gap);

			.search {
				width: 100%;

				form {
					.form-group {
						position: relative;
						display: flex;
						flex-wrap: nowrap;
						align-items: center;
						justify-content: end;

						input {
							width: 38px;
							height: 38px;
							background-color: var(--gray);
							padding: var(--padding);
							padding-left: 15px;
							outline: none;
							border: none;
							border-radius: calc(var(--bradius)*4);
							color: var(--text-white);
							transition: all 350ms ease-in-out;
							box-shadow: var(--bs-lightBlue);

							&:focus,
							&:hover {
								width: 100%;
								transition: all 350ms ease-in-out;
								@media screen and (max-width: 768px) {
									width: 200px; /* check later */
								}
							}

							&::placeholder {
								color: var(--text-white);
							}
						}

						label {
							position: absolute;
							right: 1px;

							i {
								font-size: var(--fs);
								width: 36px;
								height: 36px;
								padding: var(--padding);
								color: var(--text-white);
								background-color: var(--gray);
								border-radius: 50%;
								cursor: pointer;
							}
						}
					}
				}

			}

			.user i {
				width: 38px;
				height: 38px;
				padding: var(--padding);
				padding-left: 12px;
				border-radius: 50%;
				color: var(--aqua);
				cursor: pointer;
				background-color: var(--red);
				box-shadow: var(--bs-lightBlue);
			}

			/* mobile navigation menu */
			.mobile-menu {
				display: none;

				@media only screen and (max-width: 1024px) {
					display: block;
				}

				.nav-toggle {
					position: relative;
					padding: var(--padding);
					width: 100%;
					height: 100%;
					background: none;
					border: none;
					cursor: pointer;
					z-index: 10;

					.mobile-btn {
						display: block;
						width: 30px;
						height: 4px;
						margin: 5px 0;
						z-index: 10;
						background-color: var(--red);
						transition: all 350ms ease-in-out;
						box-shadow: var(--bs-lightBlue);

						&.close-btn:nth-of-type(2) {
							opacity: 0;
							transform: translateX(20px);
							transition: all 350ms ease-in-out;
						}

						&.close-btn:first-of-type {
							transform: rotate(225deg) translate(-6px, -6px);
							transition: all 350ms ease-in-out;
						}

						&.close-btn:last-of-type {
							transform: rotate(-225deg) translate(-6px, 7px);
							transition: all 350ms ease-in-out;
						}
					}
				}
			}
		}
	}
}

/* section world news */
/* salutation */
#world-news {
	.container {
		background-color: var(--gray-20);
		.salutation-date {
			display: flex;
			align-items: center;
			margin-bottom: 5px;

			.salutation h1 {
				font-size: 1.6rem;
				font-weight: 600;
				color: var(--red);
			}

			.date-time {
				color: var(--gray-50);
				font-weight: var(--fw-300);

				margin-left: auto;
				font-size: 1.2rem;

				.date-today {
					margin-right: 10px;
				}
			}
		}
	}
}

/* news layout */
/* head news */
#head-news {
	>.grid-container {
		
		grid-template-areas:
			'A A A A A A B B B B B B'
			'A A A A A A B B B B B B'
			'A A A A A A B B B B B B'
			'A A A A A A B B B B B B';
			@media screen and (max-width: 900px) {
				grid-template-areas: 
				'A A A A A A A A A A A A'
				'A A A A A A A A A A A A'
				'A A A A A A A A A A A A'
				'A A A A A A A A A A A A'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B';
			}
			@media screen and (max-width: 500px) {
				grid-tempalte-rows: repeat(12, 75px);
				grid-template-areas:
				'A A A A A A A A A A A A'
				'A A A A A A A A A A A A'
				'A A A A A A A A A A A A'
				'A A A A A A A A A A A A'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B'
				'B B B B B B B B B B B B';
			}
			
		>.grid-item {
			&#carousel-news {
				grid-area: A;

				.card {
				 	.card-image {
						height: 100%;
						width: 100%;
						img {
							max-width: 100%;
							max-height: 100%;
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: top center;
						}
					}
					.card-content {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						padding: var(--padding);
					}
				}
			}
	
			&#box-news {
				grid-area: B;

				.grid-container {
					
					grid-template-areas:
						'A A A A A A B B B B B B'
						'A A A A A A B B B B B B'
						'C C C C C C D D D D D D'
						'C C C C C C D D D D D D';
						@media screen and (max-width: 900px) {
							grid-template-areas: 
							'A A A A A A B B B B B B'
							'A A A A A A B B B B B B'
							'C C C C C C D D D D D D'
							'C C C C C C D D D D D D';
						}
						@media screen and (max-width: 500px) {
							grid-tempalte-rows: repeat(8, 75px);
							grid-template-areas:
							'A A A A A A A A A A A A'
							'A A A A A A A A A A A A'
							'B B B B B B B B B B B B'
							'B B B B B B B B B B B B'
							'C C C C C C C C C C C C'
							'C C C C C C C C C C C C'
							'D D D D D D D D D D D D'
							'D D D D D D D D D D D D';
						}
					>.grid-item {

						.card {
							height: 100%;
							width: 100%;

							.card-image {
								width: 100%;
								height: 100%;

								img {
									max-height: 100%;
									max-width: 100%;
									height: 100%;
									width: 100%;
									object-fit: cover;
								}
							}
							.card-content {
								position: absolute;
							}
						}

						&:nth-child(1) {
							grid-area: A;
						}

						&:nth-child(2) {
							grid-area: B;
						}

						&:nth-child(3) {
							grid-area: C;
						}

						&:nth-child(4) {
							grid-area: D;
						}
					}
				}
			}

			.card .card-content {
				background-color: rgba(var(--black-rgb), .35);
			}
		}
	}

	/* .card {
		height: 100%;
	} */
}

/* trend-news */
#trend-news {
	margin-top: 20px;

	.trend-news {
		display: flex;
		gap: var(--gap);

		.grid-container {
			flex-basis: calc(100% - 385px);
			grid-template-rows: repeat(4, 90px);
			grid-template-areas:
				'A A A A B B B B C C C C'
				'A A A A B B B B C C C C'
				'A A A A B B B B C C C C'
				'A A A A B B B B C C C C';

			.grid-item {
				/* .card {
					position: relative;
					display: flex;
					flex-direction: column;
					background-color: var(--gray-10);

					& > div {
						flex: 1 1 50%;
						height: 50%;
					}
					.card-content {
						position: relative;
						justify-content: start;
						.news-title h2 {
							color: var(--text-black);
						}
						.news-source {
							position: absolute;
						}
					}
				} */

				&:nth-child(1) {
					grid-area: A;
				}

				&:nth-child(2) {
					grid-area: B;
				}

				&:nth-child(3) {
					grid-area: C;
				}
			}
		}

		#more-trend-news {
			width: 375px;
			box-shadow: var(--bs-cards);
			border-radius: calc(var(--bradius)/2);

			.aside-content {
				max-height: 340px;
			}
		}
	}

	a {
		color: var(--text-black);

		&:hover::after,
		&:hover::before {
			width: 0;
			box-shadow: none;
		}
	}
}

/* local news */
#local-news {
	> .grid-container {
		grid-template-rows: repeat(6, 90px);
		grid-template-areas:
		'A A A B B B C C C D D D'
		'A A A B B B C C C D D D'
		'A A A B B B C C C D D D'
		'E E E F F F G G G H H H'
		'E E E F F F G G G H H H'
		'E E E F F F G G G H H H';

		.grid-item {
			.card {
				display: flex;
				flex-direction: column;
				max-height: 360px;
				background-image: var(--bgImage-light-clr);

				/* > div {
					height: 50%;
				} */
				.card-content {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
			}
			&:nth-child(1){ grid-area: A }
			&:nth-child(2){ grid-area: B }
			&:nth-child(3){ grid-area: C }
			&:nth-child(4){ grid-area: D }
			&:nth-child(5){ grid-area: E }
			&:nth-child(6){ grid-area: F }
			&:nth-child(7){ grid-area: G }
			&:nth-child(8){ grid-area: H }
		}
	}

}