@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  /* background color */
  --aqua: #00d8ff;
  --aqua-rgb: 0, 216, 255;
  --red: #E21818;
  --red-rgb: 226, 24, 24;
  --white: #FFFFFF;
  --white-20: #E6F1FF;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --gray-05: #F2F3F5;
  --gray-10: #EBEDF0;
  --gray-20: #DADDE1;
  --gray-25: #CCD0D5;
  --gray-30: #BEC3C9;
  --gray-45: #8d949e;
  --gray-50: #828282;
  --gray-70: #606770;
  --gray-80: #444950;
  --gray-90: #303338;
  --gray-100: #1C1E21;
  --gray-rgb: 141, 148, 158;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --navy-rgb: 10, 25, 47;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --lightest-navy-rgb: 35, 53, 84;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --slate-aside-even: #5d6874;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --blue: #57cbff;

  /* background images */
  --bgImage-carbon-clr: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  --bgImage-blend-mode: multiply;
  --bgImage-light-clr: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --bgImage-light2-clr: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --bgImage-lightDark-clr: linear-gradient(135deg, #616c77 0%, #5d6874 100%);

  /* text color */
  --text-white: #ffffff;
  --text-white-rgb: 255, 255, 255;
  --text-black: #000000;
  --text-black-rgb: 0, 0, 0;
  --text-lightDark: #cfcccc;
  --text-lightDark-rgb: 201, 195, 195;

  /* text shadow */
  --ts-lightBlue: 0 0 4px var(--aqua);
  --ts-darkRed: 0 0 4px var(--red);

  /* font size */
  --fs: 1rem;
  --fs-sec-title: 1.5rem;
  --fs-news-source: .6rem;
  --fs-news-title: 1rem;
  --fs-news-description: .8rem;
  --fs-aside-num: 1.5rem;
  --fs-aside-a: .8rem;
  --fs-foot-content: .8rem;
  --fs-9: .9rem;

  /* font weight */
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;

  /* padding */
  --padding: 10px;

  /* border radius */
  --bradius: 5px;

  /* gap */
  --gap: 10px;

  /* backdrop filter */
  --filter: blur(10px);

  /* box shadow */
  --bs-lightUpRight-darkDownLeft: 4px -4px 10px 0 rgba(var(--white-rgb), 0.3),
    -4px 4px 10px 0 rgba(var(--black-rgb), 0.25);
  --bs-lightDownLeft-darkUpRight: -4px 4px 10px 0 rgba(var(--white-rgb), 0.3),
    4px -4px 10px 0 rgba(var(--black-rgb), 0.25);
  --bs-lightBlue: 0 0 4px 2px var(--aqua);
  --bs-darkRed: 0 0 4px 2px rgba(160, 6, 6, 1);
  --bs-cards: 0 0 3px 0 rgba(var(--black-rgb), .5);

  /* transition */
  --transition: all 350ms ease-in-out;
}
body, html {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--light-navy);
  font-family: 'Poppins', sans-serif;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  position: relative;
  text-decoration: none;
  color: var(--text-white);

  &:hover {
    color: var(--text-lightDark);
    text-decoration: underline;
  }
}
.container {
  max-width: 1600px;
  width: 90%;
  margin: auto;
  padding: var(--padding);
}
.container:not(header .container, footer .container) {
  background-color: var(--gray-20);
}
section {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  z-index: 1;
  /* &:nth-child(odd) {
    background-color: var(--light-navy);
  }
  &:nth-child(even) {
    background-color: var(--gray-05);
  } */
}
.section-title h2 {
  color: var(--text-black);
  font-size: var(--fs-sec-title);
  font-weight: var(--fw-600);
  margin-bottom: 5px; 
}

/* aside content */
aside {
  /* box-shadow: var(--bs-cards); */
  .aside-title {
    padding: var(--padding);
    background-color: var(--gray-100);

    h3 {
      color: var(--text-white);
      font-weight: var(--fw-500);
    }
  }
  .aside-content {
    overflow: auto;
    width: 375px;
    ul {
      li {
        display: flex;
        align-items: center;
        gap: var(--gap);
        width: 100%;
        
        &:nth-child(even) {
          background-color: var(--gray-45);
        }
        &:nth-child(odd) {
          background-color: var(--gray-25);
        }
        span {
          flex-basis: 45px;
          width: 45px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--text-white);
          border-radius: 50%;
          margin: 5px;
          font-size: var(--fs-aside-num);
          background-color: var(--gray-100)
        }
        a {
          color: var(--text-black);
          flex-basis: calc(100% - 55px);
          font-size: var(--fs-aside-a);
        }
      }
    }
  }
}

/* grid and flex containers */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 90px;
  gap: var(--gap);

  .grid-item {
    overflow: hidden;
  }
}
.flex-container {
  display: flex;
  gap: var(--gap);
}

/* news cards */
.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--bradius);
  box-shadow: var(--bs-cards);

  .card-content {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(var(--black-rgb), .5);
    padding: calc(var(--padding)/2);

    .news-title h2 {
      font-size: var(--fs-news-title);
      font-weight: var(--fw-500);
      color: var(--text-white);
    }
    .news-description p {
      color: rgba(var(--text-white-rgb), .5);
      font-size: var(--fs-news-description);
      font-weight: var(--fw-300);
    }
  }
  .card-image {
    height: 50%;
    width: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
  .news-source {
    position: absolute;
    top: 5px;
    width: max-content;
    padding: 5px var(--padding);
    cursor: pointer;
    font-size: var(--fs-news-source);
    font-weight: var(--fw-300);
    border-radius: calc(var(--bradius)*4);
    background-color: rgba(var(--black-rgb), .15);
    backdrop-filter: var(--filter);
  }
}

/* spinner/loader during data request */
#loader-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--black-rgb), .5);
  z-index: 200;

  &::after {
    content: '';
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background-color: var(--aqua);
    box-shadow: var(--bs-lightBlue);
    z-index: -1;
  }
  img {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .loader {
    position: fixed;
    width: 200px;
    height: 80px;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 100%;
    animation: 1.2s load infinite linear;
    z-index: 300;
  }
}

/* back to top button */
.back-to-top button {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  width: 45px;
  height: 60px;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  border-radius: calc(var(--bradius)*6);
  background-color: rgba(var(--black-rgb), .5);
  backdrop-filter: var(--filter);
  box-shadow: var(--bs-lightBlue);

  i {
    color: var(--aqua);
    font-size: 1.4rem;
  }
  &:hover i {
    animation: 1s bounce infinite alternate-reverse;
  }
}

/* keyframe animations */
@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px)
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    border-top: solid rgba(var(--aqua-rgb), .5) 2px;
    border-right: solid rgba(var(--aqua-rgb), .35) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 5px;
    border-left: solid rgba(var(--aqua-rgb), 0) 3px;
  }

  25% {
    border-top: solid rgba(var(--aqua-rgb), .35) 2px;
    border-right: solid rgba(var(--aqua-rgb), .2) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), 0) 5px;
    border-left: solid rgba(var(--aqua-rgb), .5) 3px;
  }

  50% {
    border-top: solid rgba(var(--aqua-rgb), .2) 2px;
    border-right: solid rgba(var(--aqua-rgb), 0) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .5) 5px;
    border-left: solid rgba(var(--aqua-rgb), .35) 3px;
  }

  75% {
    border-top: solid rgba(var(--aqua-rgb), 0) 2px;
    border-right: solid rgba(var(--aqua-rgb), .5) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .35) 5px;
    border-left: solid rgba(var(--aqua-rgb), .2) 3px;
  }

  100% {
    border-top: solid rgba(var(--aqua-rgb), .5) 2px;
    border-right: solid rgba(var(--aqua-rgb), .35) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 5px;
    border-left: solid rgba(var(--aqua-rgb), 0) 3px;
  }
}

@keyframes spin {
  0% {
    border-top: solid rgba(var(--aqua-rgb), .5) 1px;
    border-right: solid rgba(var(--aqua-rgb), .35) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 4px;
    border-left: solid rgba(var(--aqua-rgb), 0) 2px;
  }

  25% {
    border-top: solid rgba(var(--aqua-rgb), .35) 1px;
    border-right: solid rgba(var(--aqua-rgb), .2) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), 0) 4px;
    border-left: solid rgba(var(--aqua-rgb), .5) 2px;
  }

  50% {
    border-top: solid rgba(var(--aqua-rgb), .2) 1px;
    border-right: solid rgba(var(--aqua-rgb), 0) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .5) 4px;
    border-left: solid rgba(var(--aqua-rgb), .35) 2px;
  }

  75% {
    border-top: solid rgba(var(--aqua-rgb), 0) 1px;
    border-right: solid rgba(var(--aqua-rgb), .5) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .35) 4px;
    border-left: solid rgba(var(--aqua-rgb), .2) 2px;
  }

  100% {
    border-top: solid rgba(var(--aqua-rgb), .5) 1px;
    border-right: solid rgba(var(--aqua-rgb), .35) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 4px;
    border-left: solid rgba(var(--aqua-rgb), 0) 2px;
  }
}